@import url('https://fonts.googleapis.com/css?family=Sarabun')

body {
    font-family: 'Sarabun', sans-serif;
}

.home .hero img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin:3rem auto 3rem auto;
}
